.heroSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin-top: 0px;
}

.heroText{
    text-align: left;
    width: 50%;
}

.heroText h1 {
  font-size: 3.3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

.heroText h1 span {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #4caf4f;
}

.heroText p {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
  margin-top: 1rem;
  color: #555;
}

.projectButton {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 1.75rem;
  margin-top: 2rem;
  background-color: #1f1f1f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.projectButton:hover {
  background-color: #4caf4f;
}

/* === Hero Image === */
.heroImage img {
  max-width: 500px;
  height: auto;
  border-radius: 50px;
}