.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0  4px 8px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 40px;
  width: 90%;
}

.aboutMeSection {
  display: flex;
  justify-content: center;
}

.aboutMeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex: 1;
}

.aboutMeImage img {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 50px;
}

.aboutSection {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.aboutSection h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #4caf4f;
}

.aboutSection p {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  max-width: 800px;
  line-height: 1.8;
  margin-bottom: 1rem;
  color: #444;
  text-align: start;
}

/* Responsive styles */
@media (max-width: 992px) {
  .aboutMe {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .aboutMeImage {
    padding: 1rem 0;
  }

  .aboutMeImage img {
    width: 250px;
    border-radius: 30px;
  }

  .aboutSection {
    padding: 2rem 1rem;
    text-align: center;
  }

  .aboutSection p {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .aboutMeImage img {
    width: 180px;
  }

  .aboutSection h2 {
    font-size: 2rem;
  }

  .aboutSection p {
    font-size: 1rem;
  }
}
